/* Todos os elementos da página */
* {
    margin: 0;
    padding: 0;
}

/* Elementos com o ID "titulo" */
#titulo {
    font-family: sans-serif;
    color: #002b7a;
    padding-top: 3%;
    animation-name: fadebotao;
    animation-duration: 2s;
} 

/* Elementos com o ID "subtitulo" */
#subtitulo {
    font-family: sans-serif;
    color: #002b7a;
    margin-left: 7%;
    
    animation-name: fadebotao;
    animation-duration: 2s;
} 

#check{
    display: inline-block;
}

/* Elementos de tag <fieldset>*/
fieldset {
    border: 0;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elemento de tag <body> */
body{
   background-color: #E0E0F8;   
    font-family: sans-serif;
    font-size: 1em;
    color: #002b7a;
    margin-left: 5%; 
}

/* Elementos de tags <body>, <input>, <Select>, <textarea> e <button> */
input, select, textarea, button {
    font-family: sans-serif;
    font-size: 1em;
    color: #002b7a;
    border-radius: 5px;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elementos de classe "grupo" nos estados das pseudoclasses "before" e "after" */
.grupo:before, .grupo:after {
    display: table;
    

}

/* Elementos de classe "grupo" no estado da pseudoclasse "after" */
.grupo:after {
    clear: both;
    
    
}

/* Elementos de classe "campo" */
.campo {
    margin-bottom: 1em;
    justify-content: center;
    animation-name: fade;
    animation-duration: 1s;
    
}

/* Elementos de classe "campo" de tag <label> */
.campo label {
    margin-bottom: 0.2em;
    color: #002b7a;
    animation-name: fade;
    animation-duration: 1s;
    display: block;
}

/* Elementos de classe "campo" ou "grupo" de tag <fieldset> */
fieldset.grupo .campo {
    float:  left;
    margin-right: 1em;
    margin-top: 20px;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elementos de classe "campo" das tags <input> com atributo text e email, da tag <select> e da tag <textarea>*/
.campo input[type="text"], .campo input[type="email"], .campo input[type="phone"], .campo select, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elementos de classe "campo" de tag <select> e <option>*/
.campo select option {
    padding-right: 1em;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elemento de classe "campo" com tag <input>, <select> e <textarea> tocas com estado da pseudoclasse "focus"*/
.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #E0E0F8;
    animation-name: fade;
    animation-duration: 1s;
}

/* Elemento de classe "botao" */
.botao {
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 75%;
    left: 16%;
    animation-name: fadebotao;
    animation-duration: 4s;
   /* margin-right: -50%;*/
    transform: translate(-50%, -50%);
}

/* Elemento de classe "botao" com o estado da pseudoclasse "hover" */
.botao:hover {
    background: #CCBBFF;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

/* Elementos de classe botão e de tag <select> */
.botao, select{
    cursor: pointer;
}
#check{
    display: inline-block;
}

/*form{
    animation-name: fade;
    animation-duration: 1s;
}*/




@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.8);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadebotao {
    from{
        opacity: 0;     
    }to{
        opacity: 1;      
    }
}

#container{position:relative;}
#coberturas1 {
    position: relative;
    background-color: #CCBBFF;
    width: 50%;
   /* height: 300px;*/
  
  
}
#coberturas2 {
    background-image: url(fundo.png);
    
    width: 74%;
    height: 100vh;
    right: 20%;

    /* código para mostrar apenas 50% da div Cinzenta (coberturas1) */
    position:absolute;
    top:0px; /* muda este valor para "0" - Isto foi apenas mostrar o que está a acontecer por detrás da div */
    right:0%; /* 25% significa metade (que neste caso será 50%) do tamanho de ambas as divs */
}
